div {
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex-grow: 1;

  /* Set up the nav element to render the <a> element in a flex layout */
  display: flex;
  /* Force the links into a column layout */
  flex-direction: column;
}

section {
  flex-grow: 9;
  display: flex;
  flex-wrap: wrap;
}

article {
  flex-grow: 1;
}
