div {
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

section {
  flex-grow: 9;
  display: flex;
  flex-wrap: wrap;
}

a {
  /*display: block;*/
}

article {
  flex-grow: 1;
}
